# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TinyTown.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vanya\Documents\UnityProjects\TinyTown\.idea\.idea.TinyTown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
